header{
    background-image: url("../img/deadpoolFond.jpg");
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

li{
    list-style: none;
}

.bg_dark{
    background-color: black;
}

@font-face{
    font-family: "policeTitre";
    src: url("../font/roguehero.ttf");
}



.policeTitres{
    font-family: "policeTitre";
    
}

.red{
    color:  rgb(167, 8, 8) ;
}

/* Taille de ma police */
.taille{
    font-size: 20px;
}

.bg_red{
    background-color: rgb(170, 12, 12);
}

.bg_color_yellow{
    background-color: rgb(219, 204, 37);
}